body{
    margin: 0;
    padding: 0;
    font-family: 'calibri';
}
:root{
    --background: rgb(255,255,255);
    --background-linear1: rgba(255,255,255,1);
    --background-linear2: rgb(24, 136, 58);
    --container: #1e824c;
    --text-color: white;
    --screen: #1e824c;
    --btn-hover: rgb(110, 59, 59);
    --btn-hover-text: #ff0000;
    --shadow: rgba(26, 21, 21, 0.75);
}
span{
    font-weight: 300;
    font-size: 100px;
}
.name{
    text-align: right;
    background: linear-gradient(135deg, var(--background-linear1) 20%, var(--background-linear2) 50%);
    color: var(--text-color);
    font-size: 20px;
}
.c-body{
    background: var(--background);
    background: linear-gradient(135deg, var(--background-linear1) 20%, var(--background-linear2) 50%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-time{
    background-color: var(--container);
    width: 600px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 11px 17px 22px 0 var(--shadow);
}
.c-time>.screen{
    color: var(--text-color);
    background-color: var(--screen);
    margin: 6px;
    text-align: center;
}
.c-btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 15px 100px;
}
.c-btn>button{
    display: block;
    background: none;
    border: none;
    outline: inherit;
    cursor: pointer;
    height: 80px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 50px;
}
button:hover{
    transform: scale(1.2);
    transition: 0.5s;
    background-color: var(--btn-hover);
    color:var(--btn-hover-text);
}